{
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "curly": 0,
    "brace-style": 0,
    "eqeqeq": 0,
    "no-return-assign": 0,
    "space-in-parens": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "padded-blocks": 0,
    "no-extra-boolean-cast": 0,
    "no-var": 2,
    "babel/no-invalid-this": 1,
    "babel/semi": [2, "never"],
    "lines-between-class-members": [2],
    "react/prop-types": 0,
    "react/jsx-curly-spacing": [2, "never"],
    "jsx-quotes": [2, "prefer-double"],
    "keyword-spacing": 0,
    "object-curly-spacing": [2, "never"]
  },
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "Cypress": true,
    "cy": true
  }
}
